*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #fa0000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect fill='none' stroke-width='117.6' stroke-opacity='0.16' id='a' x='-400' y='-300' width='800' height='600'/%3E%3C/defs%3E%3Cg transform='scale(0.766)' style='transform-origin:center'%3E%3Cg transform='rotate(59.4 0 0)' style='transform-origin:center'%3E%3Cg transform='rotate(-160 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%23dcb52a' href='%23a' transform='rotate(10 0 0) scale(1.1)'/%3E%3Cuse stroke='%23dfb228' href='%23a' transform='rotate(20 0 0) scale(1.2)'/%3E%3Cuse stroke='%23e1b026' href='%23a' transform='rotate(30 0 0) scale(1.3)'/%3E%3Cuse stroke='%23e4ad25' href='%23a' transform='rotate(40 0 0) scale(1.4)'/%3E%3Cuse stroke='%23e6aa23' href='%23a' transform='rotate(50 0 0) scale(1.5)'/%3E%3Cuse stroke='%23e9a721' href='%23a' transform='rotate(60 0 0) scale(1.6)'/%3E%3Cuse stroke='%23eba41f' href='%23a' transform='rotate(70 0 0) scale(1.7)'/%3E%3Cuse stroke='%23eea11d' href='%23a' transform='rotate(80 0 0) scale(1.8)'/%3E%3Cuse stroke='%23f09e1b' href='%23a' transform='rotate(90 0 0) scale(1.9)'/%3E%3Cuse stroke='%23f29b19' href='%23a' transform='rotate(100 0 0) scale(2)'/%3E%3Cuse stroke='%23f49817' href='%23a' transform='rotate(110 0 0) scale(2.1)'/%3E%3Cuse stroke='%23f79514' href='%23a' transform='rotate(120 0 0) scale(2.2)'/%3E%3Cuse stroke='%23f99212' href='%23a' transform='rotate(130 0 0) scale(2.3)'/%3E%3Cuse stroke='%23fb8f10' href='%23a' transform='rotate(140 0 0) scale(2.4)'/%3E%3Cuse stroke='%23fd8b0d' href='%23a' transform='rotate(150 0 0) scale(2.5)'/%3E%3Cuse stroke='%23ff880a' href='%23a' transform='rotate(160 0 0) scale(2.6)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.card-container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-container .card {
  width: 340px;
  height: 560px;
  background-image: url(pasty-card.png);
  background-size: cover;
  background-position: center;
  border: 15px #face30 solid;
  border-radius: 10px;
  position: relative;
}

.card-container .card .card-header {
  width: 100%;
  height: 50px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-container .card .card-header .name-id {
  padding-left: 10px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 14px;
}

.card-container .card .card-header .name-id .name {
  font-size: 20px;
  font-weight: bolder;
}

.card-container .card .card-header .health-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ff1100;
  font-size: 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
}

.card-container .card .card-header .health-type p {
  -webkit-text-stroke: 0.5px black;
  padding-right: 3px;
}

.card-container .card .card-header .health-type img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 20px;
  padding-left: 3px;
  padding-left: 3px;
}

.card-container .card .card-header .health-type img:nth-of-type(2) {
  height: 21px;
  margin-left: 3px;
  margin-top: 1px;
}

.card-container .card .image {
  position: absolute;
  top: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: relative;
  z-index: 100;
  height: 200px;
  width: 280px;
  border: 5px solid #f4ee83;
  border-style: outset;
}

.card-container .card .image img {
  width: 100%;
  height: 100%;
}

.card-container .card .image .heiwei-con {
  width: 260px;
  height: 16px;
  background: -webkit-gradient(linear, left top, right top, from(#f5a019), to(#f8e844));
  background: linear-gradient(to right, #f5a019, #f8e844);
  position: absolute;
  bottom: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 570;
  font-size: 11px;
}

.card-container .card .abilities-container {
  position: absolute;
  top: 325px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 260px;
  text-transform: capitalize;
}

.card-container .card .abilities-container .ability1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 40px;
  border-bottom: 2px solid black;
  font-size: 23px;
  margin-bottom: 20px;
}

.card-container .card .abilities-container .ability1 img {
  height: 20px;
  position: relative;
  z-index: 100;
}

.card-container .card .abilities-container .ability2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 35px;
  border-bottom: 2px solid black;
  font-size: 23px;
  margin-bottom: 10px;
}

.card-container .card .abilities-container .ability2 img {
  height: 20px;
  position: relative;
  z-index: 100;
}

.card-container .card .abilities-container .weakness-con {
  margin-top: 3px;
  height: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  font-weight: bold;
}

.card-container .card .abilities-container .weakness-con .weakness {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-container .card .abilities-container .weakness-con .weakness p {
  margin-bottom: 5px;
}

.card-container .card .abilities-container .weakness-con .retreat-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-container .card .abilities-container .weakness-con .retreat-cost p {
  margin-bottom: 5px;
}

.card-container .card .footer {
  position: absolute;
  bottom: 4px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 13px;
  font-weight: bold;
  padding-right: 10px;
}

img {
  height: 20px;
}

.color {
  color: white;
}

#grid {
  display: -ms-grid;
  display: grid;
  width: 20rem;
  -ms-grid-columns: 12rem 7rem 7rem;
      grid-template-columns: 12rem 7rem 7rem;
  margin: 0 auto;
  position: relative;
  z-index: 420;
}

#grid p {
  border: 1px black solid;
  background-color: white;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2rem;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#grid p:nth-child(1), #grid p:nth-child(2), #grid p:nth-child(3) {
  background-color: #fd8b20;
  height: 45px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.color {
  color: black;
}

.nav {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 147px;
  background-color: orange;
  -webkit-transition: width 0.2s ease;
  transition: width 0.2s ease;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  width: 100%;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.nav li:first-child {
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 75px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0px;
}

.nav li:first-child:hover {
  background-color: #d69316;
}

.nav li:first-child img {
  cursor: pointer;
  height: 55px;
  background-color: transparent;
}

.nav li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
  height: 7rem;
  text-decoration: none;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  font-size: 19px;
}

.nav li a .link-txt {
  margin-left: 2rem;
  display: none;
}

.nav li a img {
  height: 110px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
}

.nav:hover img {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  z-index: 1000;
}

.nav li:hover {
  background-color: #f11f1f;
}

.nav:hover {
  width: 18.5rem;
}

.nav:hover .link-txt {
  display: block;
}

.lg {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.nav:hover .lg {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}
/*# sourceMappingURL=pokemon.css.map */