@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans:wght@600&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

.half {
  width: 56.5vw;
  height: 100vh;
  background-color: #dfdfdf;
  -webkit-clip-path: polygon(0 0, 100% 0, 81% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 81% 100%, 0 100%);
  position: relative;
}

.half .logo-container {
  position: absolute;
  left: 33px;
  top: 33px;
}

.half .logo-container img {
  height: 70px;
}

.half .text-container {
  position: absolute;
  top: 28%;
  left: 110px;
}

.half .text-container .title {
  width: 500px;
  text-align: left;
  margin-bottom: 30px;
  font-family: 'Anton', sans-serif;
  font-weight: lighter;
  font-size: 3.9rem;
  letter-spacing: 2.2px;
  color: #2e2e2e;
}

.half .text-container .para {
  margin-bottom: 30px;
  width: 500px;
  color: #5e5e5e;
}

.half .text-container .btn-con {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.half .text-container .btn-con button {
  width: 160px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 50px;
  background-color: #fa6969;
  color: white;
  font-size: 16px;
}

.half .slider-con {
  position: absolute;
  bottom: 70px;
  left: 110px;
}

.half .slider-con .slider {
  width: 340px;
  height: 200px;
  background-color: black;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.half .slider-con .slider .card {
  position: absolute;
  width: 100%;
  top: 0;
  height: 200px;
  color: #ff7b7b;
  background: -webkit-gradient(linear, left top, right top, from(#f5996f), to(#db6d4c));
  background: linear-gradient(to right, #f5996f, #db6d4c);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform ease 1s;
  transition: -webkit-transform ease 1s;
  transition: transform ease 1s;
  transition: transform ease 1s, -webkit-transform ease 1s;
}

.half .slider-con .slider .card img {
  margin-left: 25px;
  margin-bottom: 15px;
  height: 120px;
  cursor: pointer;
}

.half .slider-con .slider .btn-container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.half .slider-con .slider .btn-container .back {
  position: relative;
  z-index: 100;
  font-size: 34px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: black;
}

.half .slider-con .slider .btn-container .forward {
  position: relative;
  z-index: 100;
  font-size: 34px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  color: black;
}

.left {
  position: absolute;
  right: 0;
  top: 0;
}

.left .char-half {
  width: 60vw;
  height: 100vh;
  position: relative;
  background: linear-gradient(100deg, #f56f6f, #669be0);
  -webkit-clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
  margin: 0px;
}

.left .char-half img {
  height: 600px;
  position: absolute;
  top: 50%;
  left: 58%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1420px) {
  .left .char-half img {
    height: 500px;
  }
  .half .text-container {
    position: absolute;
    top: 28%;
    left: 50px;
  }
  .half .slider-con {
    position: absolute;
    bottom: 70px;
    left: 50px;
  }
}

@media only screen and (max-width: 1200px) {
  .half .text-container {
    position: absolute;
    top: 28%;
    left: 50px;
  }
  .half .text-container .para {
    margin-bottom: 30px;
    width: 400px;
    color: #2e2e2e;
  }
  .half .slider-con {
    position: absolute;
    bottom: 70px;
    left: 50px;
  }
  .half .slider-con .slider {
    width: 280px;
    height: 200px;
  }
  .half .slider-con .slider .card {
    width: 280px;
  }
}

@media only screen and (max-width: 1100px) {
  .left .char-half img {
    height: 400px;
  }
}

@media only screen and (max-height: 900px) {
  .half .text-container {
    position: absolute;
    top: 22%;
  }
  .half .text-container .para {
    margin-bottom: 30px;
    width: 400px;
    color: #2e2e2e;
  }
  .half .logo-container img {
    height: 50px;
  }
  .half .slider-con {
    position: absolute;
    bottom: 40px;
  }
  .logo-container {
    position: absolute;
    left: 20px;
    top: 20px;
  }
}

@media only screen and (max-height: 780px) {
  .half .text-container {
    position: absolute;
    top: 17%;
  }
  .half .text-container .title {
    margin-bottom: 10px;
  }
  .half .text-container .para {
    margin-bottom: 20px;
    width: 400px;
    color: #2e2e2e;
  }
  .half .logo-container {
    position: absolute;
    left: 20px;
    top: 20px;
  }
  .half .logo-container img {
    height: 50px;
  }
  .half .slider-con {
    position: absolute;
    bottom: 40px;
  }
  .half .slider-con .slider {
    width: 300px;
    height: 150px;
  }
  .half .slider-con .slider .card {
    width: 300px;
  }
  .half .slider-con .slider .card img {
    margin-left: 15px;
    margin-bottom: 70px;
    height: 90px;
  }
  .half .slider-con .slider .btn-container .forward {
    font-size: 29px;
  }
  .half .slider-con .slider .btn-container .back {
    font-size: 29px;
  }
}

strong {
  color: #d33737;
}

.orange {
  color: #d48a00;
}

.blue {
  color: #065ca1;
}

.cream {
  color: #b49d7e;
}

footer {
  background-color: #6a6f70;
  color: #e5e0df;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=style.css.map */