@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans:wght@600&display=swap");
.half {
  width: 56.5vw;
  height: 100vh;
  background-color: rgb(223, 223, 223);
  clip-path: polygon(0 0, 100% 0, 81% 100%, 0 100%);
  position: relative;
  .logo-container {
    position: absolute;
    left: 33px;
    top: 33px;
    img {
      height: 70px;
    }
  }

  .text-container {
    position: absolute;
    top: 28%;
    left: 110px;

    .title {
      width: 500px;
      text-align: left;
      margin-bottom: 30px;
      font-family: 'Anton', sans-serif;
      font-weight: lighter;
      font-size: 3.9rem;
      letter-spacing: 2.2px;
      color: rgb(46, 46, 46);
    }
    .para {
      margin-bottom: 30px;
      width: 500px;
      color: rgb(94, 94, 94);
    }
    .btn-con {
      width: 500px;
      display: flex;
      justify-content: flex-start;
      button {
        width: 160px;
        height: 40px;
        outline: none;
        border: none;
        border-radius: 50px;
        background-color: rgb(250, 105, 105);
        color: white;
        font-size: 16px;
      }
    }
  }
  .slider-con {
    position: absolute;
    bottom: 70px;
    left: 110px;

    .slider {
      width: 340px;
      height: 200px;
      background-color: black;
      position: relative;
      overflow: hidden;
      border-radius: 15px;
      .card {
        position: absolute;
        width: 100%;
        top: 0;
        height: 200px;
        color: rgb(255, 123, 123);
        background: linear-gradient(
          to right,
          rgb(245, 153, 111),
          rgb(219, 109, 76)
        );
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform ease 1s;
        img {
          margin-left: 25px;
          margin-bottom: 15px;
          height: 120px;
          cursor: pointer;
        }
      }
      .btn-container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;

        .back {
          position: relative;
          z-index: 100;
          font-size: 30px;
          background-color: transparent;
          border: none;
          outline: none;
          cursor: pointer;
          color: rgb(102, 102, 101);
        }
        .forward {
          position: relative;
          z-index: 100;
          font-size: 30px;
          background-color: transparent;
          outline: none;
          border: none;
          cursor: pointer;
          color: rgb(85, 84, 85);

        }
      }
    }
  }
}

.left {
  position: absolute;
  right: 0;
  top: 0;

  .char-half {
    width: 60vw;
    height: 100vh;
    position: relative;
    background: linear-gradient(to right, rgb(245, 111, 111), plum);
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
    margin: 0px;

    img {
      height: 600px;

      position: absolute;
      top: 50%;
      left: 58%;
      transform: translate(-50%, -50%);
    }
  }
}

@media only screen and(max-width:1420px) {
  .left {
    .char-half {
      img {
        height: 500px;
      }
    }
  }
  .half {
    .text-container {
      position: absolute;
      top: 28%;
      left: 50px;
    }
    .slider-con {
      position: absolute;
      bottom: 70px;
      left: 50px;
    }
  }
}

@media only screen and(max-width:1200px) {
  .half {
    .text-container {
      position: absolute;
      top: 28%;
      left: 50px;
      .para {
        margin-bottom: 30px;
        width: 400px;
        color: rgb(46, 46, 46);
      }
    }
    .slider-con {
      position: absolute;
      bottom: 70px;
      left: 50px;

      .slider {
        width: 280px;
        height: 200px;

        .card {
          width: 280px;
        }
      }
    }
  }
}

@media only screen and(max-width:1100px) {
  .left {
    .char-half {
      img {
        height: 400px;
      }
    }
  }
}
@media only screen and (max-height: 900px) {
  .half .text-container {
    position: absolute;
    top: 22%;
    left: 50px;
  }
  .half .text-container .para {
    margin-bottom: 30px;
    width: 400px;
    color: #2e2e2e;
  }
  .half .logo-container img {
    height: 50px;
  }
  .half .slider-con {
    position: absolute;
    bottom: 40px;
    left: 50px;
  }

  .logo-container {
    position: absolute;
  left: 20px;
  top: 20px;
  }
}


@media only screen and(max-height:780px) {
  .half {
    .text-container {
      position: absolute;
      top: 17%;
      left: 75px;
      .title{
        margin-bottom: 10px;
      }
      .para {
        margin-bottom: 20px;
        width: 400px;
        color: rgb(46, 46, 46);
      }
    }
    .logo-container {
      position: absolute;
    left: 20px;
    top: 20px;
      img {
        height: 50px;
      }
    }
    .slider-con {
      position: absolute;
      bottom: 40px;
      left: 75px;
      .slider {
        width: 300px;
        height: 150px;

        .card {
          width: 300px;
          img{
            margin-left: 15px;
            margin-bottom: 70px;
            height: 90px;
          }
        }
        .btn-container{
          .forward{
            font-size: 29px;
          }
          .back{
            font-size: 29px;
          }
        }
      }
    }
  }
}
strong {
  color: rgb(211, 55, 55);
}

.orange {
  color: rgb(212, 138, 0);
}
.blue {
  color: rgb(6, 92, 161);
}
.cream {
  color: rgb(180, 157, 126);
}

footer{
  background-color: #6A6F70;
  color: #E5E0DF;
  display: flex;
  justify-content: space-between;
}